* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 50px;
}

.conatiner {
    background-color: grey;
    min-height: 200px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2px;
    box-shadow: 5px 5px 5px 5px rgb(116, 105, 105);

}

.main {
    display: flex;
    padding: 10px;
    margin-top: 20px;
    background-color: white;
    justify-content: center;
    gap: 55px;
}

.text {
    padding: 20px 100px;
    background-color: rgb(200, 226, 218);
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
    box-shadow: 5px 5px 5px 5px grey;

}

.btn {
    padding: 20px 100px;
    background-color: rgb(193, 193, 226);
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #090808;
    box-shadow: 5px 5px 5px 5px grey;

}

.tag {
    display: flex;
    background-color: grey;
    width: 100px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;


}

.value {
    background-color: rgb(201, 187, 187);
    width: 75px;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
}

.fa-sharp {
    background-color: grey;
    width: 20px;
    border-radius: 5px;
    padding-top: 7px;
}